<div class="dropdown months">
  <button class="registerEdit dropdown-toggle  {{disabledClass}}" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{currentMonth}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each monthDropdown as |month|}}
      <a class="dropdown-item" href="#" {{action "onMonthPick" month.id}}>{{month.title}}</a>
    {{/each}}
  </div>
</div>

<div class="dropdown days">
  <button class="registerEdit dropdown-toggle  {{disabledClass}}" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{currentDate}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each dateDropdown as |month|}}
      <a class="dropdown-item" href="#" {{action "onDayPick" month.id}}>{{month.title}}</a>
    {{/each}}
  </div>
</div>

<div class="dropdown year">
  <button class="registerEdit dropdown-toggle  {{disabledClass}}" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{currentYear}}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#each yearDropdown as |month|}}
      <a class="dropdown-item" href="#" {{action "onYearPick" month.id}}>{{month.title}}</a>
    {{/each}}
  </div>
</div>

{{yield}}