<div class="dropdown months">
  <select class="registerEdit select-month  {{disabledClass}}">
    {{#each monthDropdown as |month|}}
      <option value={{month.id}}>{{month.title}}</option>
    {{/each}}
  </select>
</div>

<div class="dropdown days">
  <select class="registerEdit select-date  {{disabledClass}}">
    {{#each dateDropdown as |month|}}
      <option value={{month.id}}>{{month.title}}</option>
    {{/each}}
  </select>
</div>

<div class="dropdown year">
  <select class="registerEdit select-year {{disabledClass}}">
    {{#each yearDropdown as |month|}}
      <option value={{month.id}}>{{month.title}}</option>
    {{/each}}
  </select>
</div>

{{yield}}