{{#if displaySender}}
  <div class="profilePicWrapper">
    <img src="{{user.safeProfilePic}}" class="profilePic">
  </div>
{{else}}
  <div class="profilePicWrapper"/>
{{/if}}
{{#if isPhoto}}
  <div class="message-img">
    <img src="{{model.thumbnail}}" {{action 'clickOnPhoto'}}/>
  </div>
{{else}}
  {{#if isVideoRequest}}
    <div class="message-video-request {{videoRequestClass}}">
      <div class="title">
        {{requestTitle}}
      </div>
      <div class="thumbnailHolder">
        <img src="{{requestThumbnail}}" alt="requestThumbnail"/>
      </div>
      <div class="channel">
        {{requestChannel}}
      </div>
    </div>
  {{else}}
    <div class="message-text">
      <div class="text">
        {{{bodyMessage}}}
      </div>
    </div>
    {{#if isLastSeen}}
      <div class="last-seen">
        <div class="profilePicWrapper">
          <img src="{{receiver.safeProfilePic}}" class="profilePic">
        </div>
      </div>
    {{/if}}

  {{/if}}
{{/if}}
