<div class="post-content {{if isMine "mine"}}">
  {{#unless hasFooter}}
    <div class="post-header">
      <div class="post-author-pic">
        {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
      </div>
      <div class="post-header-content">
        <div class="post-author-name">
          {{model.senderName}}
        </div>
        <div class="post-time">
          {{postTimeFormatted}}
        </div>
      </div>


    </div>

    {{#if hasText}}
      <div class="post-message">
        {{emoji-parse model.text}}
      </div>
    {{/if}}
  {{else}}
    {{#if hasText}}
      <div class="post-body" {{action "onClickBody" bubbles=false}}>

          <div class="post-message">
            {{emoji-parse modelText}}
          </div>

      </div>
    {{/if}}
  {{/unless}}
  {{#if allAttachments}}
    {{#unless hideAttachments}}
      <div class="post-attachments">
        {{#if imageAttachments}}
          {{multi-image-holder classNames="multi-image-holder" model=imageAttachments itemClass="post-attachment-item" maxWidthSelector='.post-attachments'}}
        {{/if}}
        {{#each attachments as |attachment|}}
          {{chat-message-attachment model=attachment classNames="post-attachment-item" maxWidthSelector='.post-attachments'}}
        {{/each}}
      </div>
    {{/unless}}
  {{/if}}
  {{#if hasFooter}}
    <div class="post-time" {{action "onClickBody" bubbles=false}}>
      {{postTimeFormatted}}
    </div>
  {{/if}}
  {{#if hasFooter}}
    <div class="post-footer" >
      <div class="post-author-pic">
        {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
      </div>
      {{remote-user-username model=model.senderId classNames="post-author-name" detailsOnClick=true}}
      {{feed-reactionable-elem
        model=model
        classNames="post-reactions"
        showComments=showComments
        onLikePost=(action "toggleLike")}}
    </div>
  {{else}}
    {{feed-reactionable-elem
      model=model
      classNames="post-reactions"
      showComments=showComments
      onLikePost=(action "toggleLike")}}
  {{/if}}
</div>
{{#if showComments}}
  {{feed-commentable-elem
    model=model
    classNames="post-comments"
    isMine=isMine
    onLikeComment=onLikeComment
    postCommentForMessage=postCommentForMessage}}
{{/if}}
