{{#if displaySender}}
  {{#user-profile-view classNames="profilePicWrapper" model=user.id}}
    <img src={{user.safeProfilePic}} class="profilePic" alt="icon">
  {{/user-profile-view}}
{{else}}
  <div class="profilePicWrapper"></div>
{{/if}}
{{#if isPhoto}}
  <div class="message-img">
    <a rel={{model.thumbnail}} href={{model.thumbnail}} data-lightbox={{model.thumbnail}} >
      <img rel={{model.thumbnail}} src={{model.thumbnail}} class="img-fluid">
    </a>
  </div>
{{else}}
  {{#if isVideoRequest}}
    <div class="message-video-request {{videoRequestClass}}">
      <div class="title">
        {{requestTitle}}
      </div>
      <div class="thumbnailHolder">
        <img src={{requestThumbnail}} alt="requestThumbnail">
      </div>
      <div class="channel">
        {{requestChannel}}
      </div>
    </div>
  {{else}}
    {{#if isVideo}}
      <div class="message-video" role="button">
        <div class="video-holder">
          <video controls>

            <source src={{videoSrc}}
                    type="video/mp4">

            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>

      </div>
    {{else}}

      <div class="message-text">
        <div class="text">
          {{{bodyMessage}}}
        </div>
      </div>
      {{#if isLastSeen}}
        <div class="last-seen">
          <div class="profilePicWrapper">
            <img src={{receiver.safeProfilePic}} class="profilePic" alt="icon" role="button">
          </div>
        </div>
      {{/if}}
    {{/if}}

  {{/if}}
{{/if}}
