<div class="post-content {{if isMine "mine"}}">
  <div class="post-header">
    <div class="post-author-pic">
      {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
    </div>
    <div class="post-author-name">
      {{model.senderName}}
    </div>
    <div class="post-time">
      {{postTimeFormatted}}
    </div>
  </div>
  {{#if hasText}}
    <div class="post-message">
      {{emoji-parse model.text}}
    </div>
  {{/if}}
  {{#if attachments}}
    {{#unless hideAttachments}}
      <div class="post-attachments">
        {{#each attachments as |attachment|}}
          {{chat-message-attachment model=attachment classNames="post-attachment-item" maxWidthSelector='.post-attachments'}}
        {{/each}}
      </div>
    {{/unless}}
  {{/if}}
  {{feed-reactionable-elem
    model=model
    classNames="post-reactions"
    showComments=showComments
    onLikePost=(action "toggleLike")}}
</div>
{{#if showComments}}
  {{feed-commentable-elem
    model=model
    classNames="post-comments"
    isMine=isMine
    onLikeComment=onLikeComment
    postCommentForMessage=postCommentForMessage}}
{{/if}}
