<div class="post-content {{if isMine "mine"}}">
  <div class="post-header">
    <div class="post-author-pic">
      {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
    </div>
    <div class="post-author-name">
      {{model.senderName}}
    </div>
    <div class="post-time">
      {{postTimeFormatted}}
    </div>
  </div>
  {{#if hasText}}
    <div class="post-message">
      {{emoji-parse model.text}}
    </div>
  {{/if}}
  {{#if attachments}}
    <div class="post-attachments">
      {{#each attachments as |attachment|}}
        {{chat-message-attachment model=attachment classNames="post-attachment-item"}}
      {{/each}}
    </div>
  {{/if}}
  <div class="post-reactions">
    <div class="reaction-comments" {{action "toggleReactionComments"}}>
      <img src="/assets/ic-feed-post-comments@2x.png" alt="post reactions comments">
      <div class="label">{{postCommentsCount}}</div>
    </div>
    <div class="reaction-likes" {{action 'toggleLike'}}>
      {{#if isLiked}}
        <img src="/assets/ic-feed-post-liked@2x.png" alt="post reactions likes">
      {{else}}
        <img src="/assets/ic-feed-post-likes@2x.png" alt="post reactions likes">
      {{/if}}
      <div class="label">{{postLikesCount}}</div>
    </div>
  </div>
</div>
{{#if showComments}}
  <div class="post-comments {{if isMine "mine"}}">
    <div class="header">
      <div class="comments">
        <div class="label">Comments</div>
        <div class="value">{{postCommentsCount}}</div>
      </div>
      <div class="likes">
        <div class="label">Likes</div>
        <div class="value">{{postLikesCount}}</div>
      </div>
    </div>
    {{#each modelComments as |comment|}}
      {{feed-comment-item model=comment classNames="post-comment-item" onLikeComment=(action "onLikeComment")}}
    {{/each}}
    <div class="new-comment">
      {{input value=commentText classNames="input" placeholder="Post a comment" insert-newline=(action "postComment") autocomplete='off'}}
    </div>
  </div>
{{/if}}
