<div class="post-content {{if isMine "mine"}}">
  {{#unless hasFooter}}
    <div class="post-header">
      <div class="post-author-pic">
        {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
      </div>
      <div class="post-author-name">
        {{model.senderName}}
      </div>

      <div class="post-time">
        {{postTimeFormatted}}
      </div>
    </div>

    {{#if hasText}}
      <div class="post-message">
        {{emoji-parse model.text}}
      </div>
    {{else}}
      <div class="post-message-empty">
        No description added
      </div>
    {{/if}}
  {{else}}
    <div class="post-body">
      {{#if hasText}}
        <div class="post-message">
          {{emoji-parse model.text}}
        </div>
      {{/if}}
      <div class="post-time">
        {{postTimeFormatted}}
      </div>
    </div>
  {{/unless}}
  {{#if attachments}}
    {{#unless hideAttachments}}
      <div class="post-attachments">
        {{#each attachments as |attachment|}}
          {{chat-message-attachment model=attachment classNames="post-attachment-item" maxWidthSelector='.post-attachments'}}
        {{/each}}
      </div>
    {{/unless}}
  {{/if}}
  {{#if hasFooter}}
    <div class="post-footer">
      <div class="post-author-pic">
        {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
      </div>
      <div class="post-author-name">
        {{model.senderName}}
      </div>
      {{feed-reactionable-elem
        model=model
        classNames="post-reactions"
        showComments=showComments
        onLikePost=(action "toggleLike")}}
    </div>
  {{else}}
    {{feed-reactionable-elem
      model=model
      classNames="post-reactions"
      showComments=showComments
      onLikePost=(action "toggleLike")}}
  {{/if}}
</div>
{{#if showComments}}
  {{feed-commentable-elem
    model=model
    classNames="post-comments"
    isMine=isMine
    onLikeComment=onLikeComment
    postCommentForMessage=postCommentForMessage}}
{{/if}}
