{{#scroll-with-listener  music=false
                         onScrolledHalf=(action "scrolledHalfYoutubeVideo") scrollParent=scrollParent
                         loading=loadingVideo}}

  <div class="searchHolder">
    {{#search-holder classNames="search" }}

      <img src="/assets/search_icon@2x.png" class="icon" alt="icon">
      {{input value=searchQuery classNames="searchInput" placeholder="Search content"
              insert-newline=(action "triggerSearch") autocomplete='off' name="videoSearch"}}
      <img src="/assets/ic_music_close.png" class="close-search" alt="close">
      <div class="trigger-search {{loadingVideoClass}}" {{action "triggerSearch"}} role="button">
        <img src="/assets/ic_search_trigger@2x.png" class="icon" alt="icon">
      </div>
    {{/search-holder}}
  </div>
  {{videos-list-auth-ui classNames="login-providers" providers=videoProviders onProviderChanged=(action "videoProvidersChanged")}}
  {{yield}}
  {{#if playlistModel}}
    {{chat-videos-playlist
      classNames='chat-videos-playlist'
      model=playlistModel
      isEditing=isEditingPlaylist
      canEdit=canEditPlaylist
      onVideoPick=(action "videoPick")
      onAddVideo=(action "playlistVideoAdd")
      onRemoveVideo=(action "playlistVideoRemove")}}
  {{/if}}
  <div class="title">
    {{sectionTitle}}
  </div>
  {{#if isLoadingVideo}}
    <div class="loading-holder h-100">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
  {{else}}
  {{/if}}
  <div class="youtube-items noselect">

    {{#each youtubeVideoItems as |video|}}
      {{#youtube-video model=video classNames="youtube-item"
                       clickAction=(action "videoPick")
                       canAdd=canEditPlaylist
                       playlistModel=playlistModel
                       addAction=(action "videoAddToPlaylist")
                       removeAction=(action 'playlistVideoRemove')
                       displayRequest=displayVideoRequest}}

      {{/youtube-video}}
    {{/each}}
  </div>

{{/scroll-with-listener}}
