{{#if shouldDisplaySender}}
  {{#user-profile-view classNames="profilePicWrapper" model=user.id}}
    <img src={{user.safeProfilePic}} class="profilePic" alt="icon">
  {{/user-profile-view}}
{{else}}
{{#unless isShareVideo}}
  <div class="profilePicWrapper"></div>
{{/unless}}
{{/if}}

{{#if isVideoRequest}}
  <div class="video-request-holder {{if isMaster 'active'}}">
    {{#youtube-video classNames="youtube-item" model=videoRequestModel clickAction=(action 'videoRequestClick')}}
      <div class="request-title"> Video request:</div>
    {{/youtube-video}}
  </div>
{{else}}
    {{#if isShareVideo}}
      <div class="message-share-video-holder" role="button" {{action 'videoShareClick'}}>
        <div class="message-share-video-title">
          {{shareVideoTitle}}
        </div>
      </div>
    {{else}}
      <div class="message-text-holder">
        {{#if mine}}
          <div class="reply-holder" role="button" {{action "reply"}}>
            <img src="/assets/ic_chat_bubble_reply_mine@2x.png" alt="reply to message"/>
          </div>
        {{/if}}
        <div class="message-text with-tooltip {{messageTextClass}}" data-toggle="tooltip" data-placement={{tooltipPlacement}} title={{tooltipValue}}>
          {{#unless mine}}
            {{#if displaySenderName}}
              {{#user-profile-view classNames="message-text-author" model=textAuthorId style=textAuthorClass}}
                {{senderName}}
              {{/user-profile-view}}
            {{/if}}
          {{/unless}}
          {{#if inReplyTo}}
            <div class="in-reply-to-message">
              <div class="line"></div>
              <div class="content">              
                {{#user-profile-view classNames="reply-author" model=inReplyTo.senderId}}
                  {{inReplyTo.senderName}}
                {{/user-profile-view}}
                <div class="reply-content">
                  {{emoji-parse inReplyTo.text}}
                </div>
              </div>
            </div>
          {{/if}}
          {{#if bodyMessage}}
            <div class="text">
              {{emoji-parse bodyMessage}}
            </div>
          {{/if}}
          {{#if attachments}}
            <div class="message-item-attachments">
              {{#each attachments as |attachment|}}
                {{chat-message-attachment model=attachment classNames="message-item-attachment" maxWidthSelector=maxWidthSelector}}
              {{/each}}
            </div>
          {{/if}}
        </div>
        {{#unless mine}}
          <div class="reply-holder" role="button" {{action "reply"}}>
            <img src="/assets/ic_chat_bubble_reply@2x.png" alt="reply to message"/>
          </div>
        {{/unless}}
      </div>

      {{#if isLastSeen}}
        <div class="last-seen">
          <div class="profilePicWrapper">
            <img src={{receiver.safeProfilePic}} class="profilePic" alt="icon" role="button">
          </div>
        </div>
      {{/if}}
    {{/if}}
{{/if}}
