<div class="header-label">
  <div class="label">
    Live now on
  </div>
  <div class="header-icon">
    <img src={{safe-profile-pic model.ProfilePic}} class="profilePicWrapper">
  </div>
</div>
<div class="feed-sidebar-playing-wrapper" {{action "joinLive" bubbles=false}} role="button">
  <div class="feed-sidebar-playing-holder">
    <div class="playing-title-label">
      LIVE.
    </div>
    <div class="playing-title">
      {{model.playingVideoTitle}}
    </div>
    <div class="playing-thumbnail">
      {{#thumbnail-background model=model.playingVideoThumbnail classNames="thumbnail"}}
        <div class="video-icon">
          <img src={{model.playingVideoIconUrl}}>
        </div>
      {{/thumbnail-background}}
      <div class="action">
        <div class="action-join">
          <img src="/assets/ic_add_24px.svg" alt="icon">
          <div class="label">Join</div>
        </div>
      </div>
    </div>
    <div class="playing-members">
      <div class="playing-members-list">
        {{#each model.videoWatchers as |watcher|}}
          <div class="playing-member-item">
            {{remote-user-profile-pic model=watcher.senderId classNames="profilePicWrapper"}}
          </div>
        {{/each}}
      </div>
      <div class="playing-members-views">
        <img src="/assets/ic_eye@2x.png" alt="views number" class="views-img">
        <div class="label">{{model.playingViews}}</div>
      </div>
    </div>
  </div>
</div>
