<div class="feed-event-content">
  <div class="feed-event-body" {{action "openDetails"}}>
    <div class="feed-event-header">
      <div class="feed-event-title">
        {{model.title}}
      </div>
      <div class="feed-event-seats">
        <img src="/assets/icons8-checklist-24.svg">
        <div class="label">
          {{#if model.isSeatsUnlimited}}
            {{model.seatsOccupied}}
          {{else}}
            {{model.seatsOccupied}}/{{model.seatsTotal}}
          {{/if}}
        </div>
      </div>
    </div>
    {{feed-event-when model=model classNames="feed-event-date-root"}}
    {{#if model.ProfilePic}}
      {{#unless hideImage}}
        {{chat-message-img classNames="feed-event-pic" model=model.ProfilePic maxWidthSelector="div"}}
      {{else}}
        <div class="hidden-image">Image</div>
      {{/unless}}
    {{/if}}
    <div class="feed-event-description">
      {{model.description}}
    </div>
  </div>
  <div class="feed-event-footer">
    <div class="author-profile-pic">
      {{remote-user-profile-pic model=model.creatorId classNames="profilePicWrapper" alt="ProfilePic"}}
    </div>
    {{remote-user-username model=model.creatorId classNames="author-profile-name" detailsOnClick=true}}
    {{feed-reactionable-elem
      model=model
      classNames="feed-reactions"
      showComments=showComments
      onLikePost=onLikePost}}
    <div class="feed-action">
      {{#if model.isPast}}
        <div class="action-owner">
          <div class="label">
            Past
          </div>
        </div>
      {{else}}
        {{#if isCreator}}
          <div class="action-owner">
            <div class="label">
              Creator
            </div>
          </div>
        {{else if isMember}}
          {{multi-state-button model=isMember classNames="action-joined" titleTrue="Joined" titleFalse="Leave" clickAction=(action "unJoinEvent" bubbles=false)}}
        {{else}}
          <div class="action-join" {{action "joinEvent" bubbles=false}}>
            <img src="/assets/ic_plus@2x.png" alt='add video' class="icon">
            <div class="label">
              Join
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
{{#if showComments}}
  {{feed-commentable-elem
    model=model
    classNames="feed-event-comments"
    onLikeComment=onLikeEventComment
    postCommentForMessage=postCommentForMessage}}
{{/if}}
