<div class="header">
  <div class="comment-author-pic">
    {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
  </div>
  <div class="comment-author-name">
    {{authorName}}
  </div>
  <div class="comment-like" {{action "toggleLike"}}>
    {{#if isLiked}}
      <img src="/assets/ic-feed-post-liked@2x.png" alt="comment reactions likes">
    {{else}}
      <img src="/assets/ic-feed-post-likes@2x.png" alt="comment reactions likes">
    {{/if}}
  </div>
</div>
<div class="content">
  {{model.text}}
</div>
