<div class="header">
  <div class="comment-author-pic">
    {{remote-user-profile-pic model=model.senderId classNames="profilePicWrapper" alt="ProfilePic"}}
  </div>
  <div class="comment-author-name">
    {{authorName}}
  </div>
  <div class="comment-like" {{action "toggleLike" bubbles=false}} role="button">
    <img src="/assets/ic-feed-post-liked@2x.png" alt="comment reactions likes" class="{{unless isLiked "hidden"}}">
    <img src="/assets/ic-feed-post-likes@2x.png" alt="comment reactions likes" class="{{if isLiked "hidden"}}">    
  </div>
</div>
<div class="comment-content">
  {{model.text}}
</div>
