<div class="profilePicWrapper">
  <img src={{profilePic}} class="profilePic" alt="icon">
</div>
<div class="name">
  <div class="username">
    {{username}}
  </div>
  <div class="display-name">
    {{name}}
  </div>

</div>
<div class="follow-controls">
  {{#if isAdded}}
    <div class="added">
      <img src="/assets/ic_friend_added.png" alt="icon">
      <div class="label">
        Added
      </div>
    </div>
  {{else}}
    {{#if isRemoved}}
      <div class="removed">
        <div class="label">
          Removed
        </div>
      </div>
    {{else}}
      {{#clickable-div classNames="add actionItem" clickAction=(action "confirmRequest")}}
        <img src="/assets/ic_add_friend@2x.png" alt="icon">
        <div class="label">
          Add
        </div>
      {{/clickable-div}}
      {{#clickable-div classNames="cancel actionItem" clickAction=(action "cancelRequest")}}
        Delete
      {{/clickable-div}}
    {{/if}}

  {{/if}}
</div>