<div class="profileName">
  <span class="firstName">{{model.firstName}}</span>
  <span class="lastName">{{lastMessageText}}</span>
</div>

<div class="profilePicHolder {{playingClass}} {{onlineClass}} {{unreadClass}}">
  {{#user-profile-view classNames="content" model=model.id}}
    <div class="playing"></div>
    <div class="playing2"></div>
    <div class="profilePicWrapper">
      <img class="profilePic" src={{safeProfilePic}} alt="icon">
    </div>
    <div class="online-icon"></div>
    <img class="unread-icon" src="/assets/friend_unread@2x.png" alt="icon">
  {{/user-profile-view}}
</div>
