<div class="friendsHeader">
  <div class="friendsCompose">
    <div class="compose" {{action "openCompose"}} role="button">        
      <img src="/assets/friends_compose@2x.png" class="composeIcon" alt="icon">
    </div>
  </div>
  <div class="friendsTitle">
    <span class="friends noselect">Friends</span>
  </div>
</div>
{{#end-scrollable classNames="friendsList" skipTopChildUpdate=true onScrolledHalf=(action "loadMore") scrollChild=".friends-wrapper"
                  handleEnd=true blockScroll=true}}
  <div class="friends-wrapper">
    <div class="friendsSearchHolder {{unless friendsQuery 'empty'}}">
      {{#search-holder classNames="search" searchSelector="input" closeSelector=".close-search"}}

        <img src="/assets/search_icon@2x.png" class="icon" alt="icon">
        {{input value=friendsQuery classNames="searchInput" placeholder="Search in messaging" autocomplete='off'}}
        <img src="/assets/ic_music_close.png" class="close-search" alt="close">
      {{/search-holder}}
    </div>
    {{yield}}
    {{#each queriedModel as |friend|}}
      {{#if friend.isFriend}}
        {{#link-to "home.chat" friend.id "one2one" classNames="home-friend-item-link" tagName="div"}}
          {{#home-friend-item model=friend classNames="home-friend-item home-contact-item-link"}}{{/home-friend-item}}
        {{/link-to}}
      {{else}}
        {{#link-to "home.chat" friend.id "group" classNames="home-group-item-link" tagName="div"}}
          {{#home-group-item model=friend classNames="home-group-item home-contact-item-link"}}{{/home-group-item}}
        {{/link-to}}
      {{/if}}
    {{/each}}
    {{#if hasMoreFriends}}
      <div class="load-more" role="button" {{action 'loadMore'}}>Show more</div>
    {{/if}}

  </div>


{{/end-scrollable}}
