<div class="profileName">
  <span class="firstName">{{displayName}}</span>
  <span class="lastName">{{lastMessageText}}</span>
</div>

<div class="profilePicHolder {{playingClass}} {{onlineClass}} {{unreadClass}}">
  <div class="content">
    <div class="playing"></div>
    <div class="playing2"></div>
    <div class="profilePicWrapper">
      <img class="profilePic" src={{safeProfilePic}} alt="icon">
    </div>
    <div class="online-icon"></div>
    <img class="unread-icon" src="/assets/friend_unread@2x.png" alt="icon">
  </div>
</div>
