<div class="group-item {{playingClass}} {{onlineClass}} {{unreadClass}}">

  <div class="group-name">
    <div class="content">
      {{model.GroupName}}
    </div>
    <div class="last-message">
      {{lastMessageText}}
    </div>
  </div>
  <div class="group-icon-wrapper">

    <div class="split-profile-pic {{profilePicClass}}">
      {{#each members as |member index|}}
        {{#group-member-profile-pic classNames="member-icon" model=member index=index
                                    total=members.length}}{{/group-member-profile-pic}}
      {{/each}}
    </div>
    <div class="online-icon"></div>
    <img class="unread-icon" src="/assets/friend_unread@2x.png"/>
    <img class="playing-video-icon" src="/assets/ic_group_playing_video.png"/>
    <img class="playing-music-icon" src="/assets/ic_group_playing_sound.png"/>
  </div>

</div>
