<span class="creator">@{{model.creatorName}}'s room</span>
<span class="watchers">Now watching: {{model.viewersCount}}</span>
<span class="title">{{model.videoName}}</span>
<img class="thumbnail" src={{model.videoThumbnail}} alt="icon">

{{yield}}