<div class="profilePicWrapper">
  <img class="profilePic" src={{model.safeProfilePic}} alt="icon">
</div>
<div class="firstName">{{model.FirstName}} {{model.LastName}}</div>
<div class="addHolder">
  {{#if isAdded}}
    <div class="added">
      <img src="/assets/ic_friend_added.png" alt="icon">
      <div class="label">
        Added
      </div>
    </div>
  {{else}}
    <div class="add" {{action "addFriend"}} role="button">
      <img src="/assets/ic_add_friend@2x.png" alt="icon">
      <div class="label">
        Add
      </div>
    </div>
  {{/if}}

</div>