<div class="youtube login-item" {{action "loginYoutube"}} role="button">
  {{#if providers.youtube}}
    <img src="/assets/ic-video-provider-youtube-active@2x.png" alt="youtube">
  {{else}}
    <img src="/assets/ic-video-provider-youtube@2x.png" alt="youtube">
  {{/if}}
</div>
<div class="khan login-item" {{action "loginKhan"}} role="button">
  {{#if providers.khan}}
    <img src="/assets/ic-video-provider-khan-active@2x.png" alt="khan">
  {{else}}
    <img src="/assets/ic-video-provider-khan@2x.png" alt="khan">
  {{/if}}
</div>
<div class="crunchroll login-item" {{action "loginCrunchRoll"}} role="button">
  {{#if providers.crunchyroll}}
    <img src="/assets/ic-video-provider-crunchroll-active@2x.png" alt="crunchyroll">
  {{else}}
    <img src="/assets/ic-video-provider-crunchroll@2x.png" alt="crunchyroll">
  {{/if}}
</div>
