{{yield}}
{{thumbnail-background model=videoThumbnail classNames="thumbnail"}}
<div class="title-holder">
  <p class="videoTitle block-with-text">
    {{videoTitle}}
  </p>

</div>
<div class="channel-title">
  {{channelTitle}}
</div>
<div class="channel-desc">
  {{viewsCount}} {{channelDesc}}
</div>
{{#if displayRequest}}
  <div class="request-overlay">
  	<div class="request-btn" role="button" {{action "requestVideo"}}>
  		Request
  	</div>
  </div>
{{/if}}
{{#if isRemovable}}
  <div class="youtube-video-remove" {{action 'removeVideo'}}>
    <img src="/assets/ic-video-remove-icon@2x.png" alt='remove video' class="icon">
  </div>
{{/if}}
{{#if canAdd}}
  <div class="youtube-video-add" {{action 'addVideo'}}>
    <img src="/assets/ic_plus@2x.png" alt='add video' class="icon">
  </div>
{{/if}}
