{{yield}}
{{#thumbnail-background model=videoThumbnail classNames="thumbnail"}}
  <div class="video-icon">
    <img src={{model.iconUrl}}>
  </div>
{{/thumbnail-background}}
<div class="title-holder">
  {{#text-truncator height=55 classNames="videoTitle"}}
    <span>
      {{videoTitle}}
    </span>
  {{/text-truncator}}

</div>
<div class="channel-title">
  {{channelTitle}}
</div>
<div class="channel-desc">
  {{viewsCount}} {{channelDesc}}
</div>

{{#if displayRequest}}
  <div class="request-overlay">
  	<div class="request-btn" role="button" {{action "requestVideo" bubbles=false}}>
  		Request
  	</div>
  </div>
{{/if}}
{{#if isRemovable}}
  <div class="youtube-video-remove" {{action 'removeVideo' bubbles=false}}>
    <img src="/assets/ic-video-remove-icon@2x.png" alt='remove video' class="icon">
  </div>
{{/if}}
{{#if canAdd}}
  {{#if isOnPlaylist}}
    <div class="youtube-video-add" {{action 'removeVideo' bubbles=false}} role="button">
      <img src="/assets/ic_done_24px.svg" alt='added video' class="icon">
      <div class="label">Added</div>
    </div>
  {{else}}
    <div class="youtube-video-add" {{action 'addVideo' bubbles=false}}>
      <img src="/assets/ic_add_24px.svg" alt='add video' class="icon">
      <div class="label">My playlist</div>
    </div>
  {{/if}}
{{/if}}
