<img src={{videoThumbnail}} class="thumbnail" alt="icon">
<div class="title-holder">


  <p class="videoTitle block-with-text">
    {{videoTitle}}
  </p>

</div>
<div class="channel-title">
  {{channelTitle}}
</div>
<div class="channel-desc">
  {{viewsCount}} views. {{channelDesc}}
</div>