{{thumbnail-background model=videoThumbnail classNames="thumbnail"}}
<div class="title-holder">
  <p class="videoTitle block-with-text">
    {{videoTitle}}
  </p>

</div>
<div class="channel-title">
  {{channelTitle}}
</div>
<div class="channel-desc">
  {{viewsCount}} {{channelDesc}}
</div>