<div class="row chatRoot h-100">
  <div class="col-8 content h-100">
    <div class="row holder h-100">
      <div class="titleHolder">
        <div class="title">
          {{#if chatModel.hasProfilePic}}
            <img src="{{chatModel.user.safeProfilePic}}" class="profilePic" alt="ProfilePic">
          {{/if}}
          <span class="name">{{chatModel.title}}</span>
        </div>
        <div class="back">
          {{#link-to 'home'}}
            <img src="/assets/ic_arrow_back.png">
          {{/link-to}}
        </div>
      </div>
      <div class="searchHolder">
        <div class="row">
          <div class="col">
            <span class="who">Who:</span>
          </div>
        </div>
      </div>
      {{#youtube-video-player id="ytplayer" model=playerModel video=playerVideo playerAction=playerAction
                              videoLoadedAction=(action 'videoLoaded')}}{{/youtube-video-player}}
      <div class="messagesHolder">
        <div class="messagesWrappper">
          {{#each messages as |message|}}
            {{#if message.isMessage}}
              {{#chat-message-item model=message.message classNames='messageHolder'
                                   displaySender=message.displaySender}}{{/chat-message-item}}
            {{/if}}
            {{#if message.isDate}}
              {{#chat-message-time model=message.date}}{{/chat-message-time}}

            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="newMessageHolder">
        {{input value=messageText placeholder="Type a message..."}}
        <img src="/assets/ic_chat_send.png" {{action 'sendMessage'}}/>
        {{#file-upload name="photos"
                       accept="image/*"
                       onfileadd=(action "uploadImage") as |queue|}}
          <img src="/assets/ic_chat_msg_image.png"/>
        {{/file-upload}}


      </div>
    </div>
  </div>
  <div class="col-4 media">
    <div class="row holder h-100">
      <div class="title">
        <div>
          <span>Trending</span>
        </div>
      </div>
      <div class="search">
        <img src="/assets/search_icon.png" class="icon">
        {{input value=searchQuery classNames="searchInput" placeholder="Search content"}}
        <div class="trigger-search" {{action 'triggerSearch'}}>
          <img src="/assets/ic_search_trigger.png" class="icon">
        </div>
      </div>
      <div class="tabs">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link {{videoTabClass}}" {{action 'pickVideosSearch'}}>Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{songsTabClass}}" {{action 'pickSongsSearch'}}>Songs</a>
          </li>
        </ul>
      </div>
      <div class="tabs-content">
        <div class="youtube-items row">
          {{#each youtubeItems as |video|}}
            {{#youtube-video model=video classNames='youtube-item col-6'
                             clickAction=(action 'videoPick')}}{{/youtube-video}}
          {{/each}}
        </div>
      </div>


    </div>
  </div>
</div>
