<div class="feed-root h-100 {{modeClass}} {{videoClass}}" data-conv-id={{convId}}>
  <div class="feed-parent">
    <div class="feed-content h-100">
      {{#file-dropzone classNames="feed-content-wrapper" name="chatPhotos" as |dropzone|}}
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <div class="dropzone">
              <div class="content">
                <div>Drop to upload</div>
              </div>
            </div>
          {{else}}

          {{/if}}
        {{/if}}

        <div class="titleHolder">
          {{#if isRoom}}
            <div class="back" {{action "goBack"}} role="button">
              <img class="back-icon" src="/assets/ic_arrow_back_flipped@2x.png" alt="icon">
            </div>
            <div class="title noselect">
              {{#if chatModel.hasProfilePic}}
                <div class="profilePicWrapper">
                  <img src={{safe-profile-pic chatModel.ProfilePic 'group'}} class="profilePic" alt="ProfilePic">
                </div>
              {{/if}}

              <span class="name">{{chatModel.title}}</span>

            </div>
          {{else}}
            {{#if isCompose}}
              <div class="back" {{action "goBack"}} role="button">
                <img class="back-icon" src="/assets/ic_arrow_back_flipped@2x.png" alt="icon">
              </div>
              <div class="title-holder-compose">
                <span class="compose-name noselect">{{chatModel.title}}</span>
              </div>

            {{else if chatModel.group}}
              <div class="back" {{action "goBack"}} role="button">
                <img class="back-icon" src="/assets/ic_arrow_back_flipped@2x.png" alt="icon">
              </div>
              <div class="title noselect">
                {{#if chatModel.hasProfilePic}}
                  <div class="profilePicWrapper">
                    <img src={{safe-profile-pic chatModel.ProfilePic 'group'}} class="profilePic" alt="ProfilePic">
                  </div>
                {{else}}
                  <div class="profilePicWrapper"></div>
                {{/if}}

                <span class="name">{{chatModel.title}}</span>
              </div>
            {{else}}
              <div class="back"  {{action "goBack"}} role="button">
                  <img class="back-icon" src="/assets/ic_arrow_back_flipped@2x.png" alt="icon">
              </div>
              {{#user-profile-view classNames="title noselect" model=chatModel.user.id}}
                {{#if chatModel.hasProfilePic}}
                  {{remote-user-profile-pic model=chatModel.user.id classNames="profilePicWrapper"}}
                {{else}}
                  <div class="profilePicWrapper"></div>
                {{/if}}
                <div class="title-holder">
                  <span class="single-name">{{chatModel.title}}</span>
                  {{#if isChatOnline}}
                    <span class="online">{{onlineText}}</span>
                  {{/if}}
                </div>
              {{/user-profile-view}}
              {{#if isOne2One}}
                {{streaming-control
                  classNames="broadcast-stream"
                  model=streamingModel
                  onToggleMic=(action "onToggleMic")
                  onToggleCamera=(action "onToggleCamera")}}
              {{/if}}
            {{/if}}
          {{/if}}

        </div>
        {{#if isCompose}}
          <div class="searchHolder">
            <div class="compose-row">
              {{#users-chat-compose classNames="compose-search"
                                    chips=composeChips
                                    typeaheadID="typeahead-compose"
                                    placeholder="Type the username of the person"
                                    onChipAdd=(action "onChipAdd")
                                    onChipClick=(action "onChipClick")}}
                <div class="error-tip">{{composeError}}</div>
              {{/users-chat-compose}}
            </div>
          </div>
        {{/if}}
        <div id="youtubeHolder" class="{{if playerVideo "has-video"}} {{if playerLoadingClass "active" }} {{if isMinimized "minimized"}}">
          {{#if hasPlayer}}
            {{#youtube-video-player id="ytplayer" model=playerModel video=playerVideo playerAction=playerAction
                                    videoLoadedAction=(action "videoLoaded")
                                    playerState=(action "playerStateAction")
                                    isLoading=playerLoading
                                    videoPlayerState=videoPlayerState
                                    playerSeconds=playerSeconds
                                    videoMute=videoMute
                                    onPlayerUpdate=(action "onPlayerUpdate")
                                    onPlayerShow=(action "onPlayerShow")
                                    onVideoEnd=(action "onVideoEnd")
                                    slidingProgress=slidingProgress}}

            {{/youtube-video-player}}
            <div class="overlay"></div>
            <div class="controlsOverlay">
              <div class="controlsHolder">
                {{#if canAutoplay}}
                  <div class="switch-holder">
                    <div class="label noselect">Auto play</div>
                    <label class="switch">
                      <input type="checkbox" id="autoplay-checkbox" checked>
                      <span class="switcher round"></span>

                    </label>
                  </div>
                {{/if}}
                <div class="control">
                  <div class="play play-action">
                    <img src="/assets/ic_icon_play_video.png" alt="icon">
                  </div>
                  <div class="pause pause-action">
                    <img src="/assets/ic_icon_pause_video.png" alt="icon">
                  </div>
                </div>
                <div class="collapse-video" role="button" {{action "videoPlayerCollapse"}}>
                  <img src="/assets/ic_video_collapse@2x.png" alt="mute">
                  <div class="label">
                    close
                  </div>
                </div>
                <div class="overlay-footer">
                  <div class="control">
                    <div class="footer-play play-action">
                      <img src="/assets/ic_icon_play_video.png" alt="icon">
                    </div>
                    <div class="footer-pause pause-action">
                      <img src="/assets/ic_icon_pause_video.png" alt="icon">
                    </div>
                  </div>
                  <span class="video-title noselect"></span>
                  <div class="mute {{if videoMute "active"}}" role="button" {{action "videoPlayerMute"}}>

                      <img src="/assets/ic_mute_off_white@2x.png" alt="mute off" class="off">
                      <img src="/assets/ic_mute_on_white@2x.png" alt="mute on" class="on">
                  </div>
                  <div class="full" role="button" {{action "videoPlayerFullWindow"}}>
                    <img src="/assets/ic_fullwindow_on.svg" alt="mute">
                  </div>
                  <div class="full-off" role="button" {{action "videoPlayerFullWindowOff"}}>
                    <img src="/assets/ic_fill_window_off@2x.png" alt="mute">
                  </div>
                </div>
                <input type="range" min="1" max="100" value="50" class="slider {{sliderClass}}">
              </div>
            </div>
            <div class="loading-overlay {{loadingOverlayClass}}"></div>
          {{/if}}
        </div>

        {{#if hasPlayer}}
          <div class="youtube-music-holder">
            <div class="music-player">
              <div class="watchers {{watchersClass}}">
              </div>
              <div class="details noselect">
                <img class="thumbnail" src="" alt="icon">
                <div class="info">
                  <div class="song-name"></div>
                  <div class="song-artist"></div>
                </div>
              </div>
              <div class="controls">
                <div class="mute {{if videoMute "active"}}" role="button" {{action "videoPlayerMute"}}>
                  <img src="/assets/ic_mute_off_black@2x.png" class="off" alt="mute off">
                  <img src="/assets/ic_mute_on_black@2x.png" class="on" alt="mute on">
                </div>
                <div class="collapse-video" role="button" {{action "videoPlayerExpand"}}>
                  <img src="/assets/ic_video_expand@2x.png" alt="mute">
                  <div class="label">
                    open
                  </div>
                </div>
                <img src="/assets/ic_music_play.png" class="play-btn" alt="icon">
                <img src="/assets/ic_music_pause.png" class="pause-btn" alt="icon">
                <img src="/assets/ic_music_close.png" class="close-btn" alt="icon">

              </div>
              <input type="range" min="1" max="100" value="50" class="slider {{sliderClass}}">
            </div>
          </div>
        {{/if}}
        <div class="messages-holder-full {{if isFullScreen "fullscreen"}}">
          <div class="messages-holder-content">

            {{#end-scrollable classNames="messagesHolder"
                              blockScroll=blockAutoscroll
                              onScrolledHalf=(action "loadMore")
                              onTopChildChanged=(action "topChildChanged")
                              scrollChild=".messagesWrappper"
                              refreshScroll=refreshScroll
                              itemTimeSelector=".chat-message-time-item"}}
              {{#if isLoadingMessages}}
                <div class="loading-holder h-100">
                  {{loading-view}}
                </div>
              {{else}}
                <div class="messagesWrappper" data-total={{totalMessages}} data-limit={{messagesLimit}}>
                  {{#if hasMoreMessages}}
                    <div class="load-more" role="button" {{action "loadMore"}}>Show more</div>
                  {{/if}}
                  {{#each filteredMessages as |message|}}
                    {{#if message.isMessage}}
                      {{#chat-message-item model=message classNames="messageHolder"
                                           canClick=isMaster
                                           onClick=(action "onMessageClick")
                                           displaySender=message.displaySender
                                           lastSeen=lastSeenMessage
                                           isSeen=message.isSeen
                                           myID=myID
                                           senderSpace=message.senderSpace
                                           displaySenderName=isNotOne2One
                                           members=members
                                           isMaster=isMaster
                                           memberColors=memberColors
                                           onVideoRequestClick=(action "onVideoRequestClick")
                                           onScrollToMessage=(action "onScrollToMessage")
                                           onPhotoSelect=(action "onPhotoSelect")
                                           onReplyTo=(action "onReplyTo")}}

                      {{/chat-message-item}}
                    {{/if}}
                    {{#if message.isDate}}
                      {{#chat-message-time model=message.date classNames="chat-message-time-item noselect"}}

                      {{/chat-message-time}}
                    {{/if}}
                    {{#if message.isLoading}}
                      {{chat-message-loading classNames="chat-message-loading" model=message.message}}
                    {{/if}}
                  {{/each}}
                  {{#unless isLoadingMessages}}
                    <div class="typing-indicators">
                      {{#each typingIndicatorProfiles as |indicator|}}
                        <div class="indicator">
                          <div class="profilePicWrapper">
                            <img class="profilePic" src={{indicator.profilePic}} alt="icon">
                          </div>
                          <img src="/assets/ic_typing_indicator.png" class="typing-icon" alt="icon">
                        </div>
                      {{/each}}
                    </div>
                  {{/unless}}

                </div>
              {{/if}}
            {{/end-scrollable}}
            {{#if inReplyTo}}
              <div class="in-reply-to {{if isFullScreen "fullscreen"}}">
                <div class="reply-name">Replying to {{inReplyTo.senderName}}</div>
                <div class="reply-text">{{emoji-parse inReplyTo.text}}</div>
                <div class="reply-close" role="button" {{action "clearInReplyTo"}}>
                  <img alt="close in reply to" src="/assets/ic_clear_24px@2x.png">
                </div>
              </div>
            {{/if}}
            {{#if uploads}}
              <div class="message-uploads {{if inReplyTo "has-in-reply"}}">
                {{#each uploads as |upload|}}
                  {{chat-upload-item model=upload
                    onRemove=(action "onRemoveUpload")}}
                {{/each}}
              </div>
            {{/if}}
            <div class="newMessageHolder {{if inReplyTo "has-in-reply"}} {{if uploads "has-uploads"}}">
              {{messaging-emoji-picker displayEmoji=displayEmoji onSelectEmoji=(action "selectEmoji") classNames="emoji-picker-holder"}}

              {{custom-content-editable value=messageText model=model placeholder="Type a message" classNames="messageContent"
                                        enter=(action "onMessageEnterPress") paste=(action "onTextPaste") allowNewlines=true}}
              {{#file-upload name="chatPhotos"
                             onfileadd=(action "uploadImage")}}
                <img src="/assets/attachment@2x.png" alt="icon" class="hovered">
              {{/file-upload}}

              <div class="imgHolder">

                <div {{action "sendMessage"}} alt="icon" role="button" class="chat-action-send {{chatActionSendClass}}">Send</div>
              </div>
            </div>
            {{#unless isLoadingMessages}}
              <div class="message-scroll-date-holder ">
                <div class="title">
                  Today
                </div>
              </div>
            {{/unless}}
          </div>
          {{#if isFullScreen}}
            <div class="messages-holder-sidebar">
              <div class="sidebar-header">
              </div>
              <div class="sidebar-members">

              </div>
            </div>
          {{/if}}
        </div>


      {{/file-dropzone}}
    </div>
    <div class="messages-side-bar {{if isFullScreen "fullscreen"}} {{if isMinimized "minimized"}}">
      {{#if isFullScreen}}
        {{#if isOne2One}}
          {{streaming-control
            classNames="broadcast-stream"
            model=streamingModel
            onToggleMic=(action "onToggleMic")
            onToggleCamera=(action "onToggleCamera")}}
        {{/if}}
      {{/if}}
      {{#unless isCompose}}
        {{chat-members model=chatMembers classNames="streamer-holder" playerLoading=playerLoadingClass fullscreen=isFullScreen}}

        {{#if isFullScreen}}
          <div class="controls">
            <div class="mute {{if videoMute "active"}}" role="button" {{action "videoPlayerMute"}}>
              <img src="/assets/ic_mute_off_white@2x.png" alt="mute off" class="off">
              <img src="/assets/ic_mute_on_white@2x.png" alt="mute on" class="on">
            </div>
            <div class="full-off" role="button" {{action "videoPlayerFullWindowOff"}}>
              <img src="/assets/ic_fill_window_off@2x.png" alt="mute">
            </div>
          </div>
        {{/if}}
      {{/unless}}
    </div>
    <div class="feed-sidebar">
      <div class="feed-sidebar-wrapper">
        <div class="header">
          <div class="tabs">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#videos" role="tab" aria-controls="videos"
                   aria-selected="true" {{action "pickVideosSearch"}}>
                  Videos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#music" role="tab" aria-controls="music"
                   aria-selected="true" {{action "pickSongsSearch"}}>
                  Songs
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tab-content h-100">
          <div class="tab-pane fade show active" id="videos">
            {{chat-videos-list
              classNames="chat-videos-list"
              scrollParent=".tab-content"
              displayVideoRequest=displayVideoRequest
              onVideoPick=(action "videoPick")
              playlistModel=playlistModel
              canEditPlaylist=isMaster
              onProviderChanged=(action "onProviderChanged")
              onPlaylistAddVideo=(action "playlistVideoAdd")
              onPlaylistRemoveVideo=(action "playlistVideoRemove")}}
          </div>
          <div class="tab-pane fade" id="music">
            {{#scroll-with-listener classNames="youtube-items music noselect" music=false
                                    onScrolledHalf=(action "scrolledHalfYoutubeMusic") scrollParent=".tab-content"
                                    loading=loadingMusic}}
              <div class="searchHolder">
                {{#search-holder classNames="search" tagName="form"}}
                  <img src="/assets/search_icon@2x.png" class="icon" alt="icon">
                  {{input value=searchQueryMusic classNames="searchInput" placeholder="Search content"
                          insert-newline=(action "triggerSearch") autocomplete="off" name="musicSearch"}}
                  <img src="/assets/ic_music_close.png" class="close-search" alt="close">
                  <div class="trigger-search {{loadingMusicClass}}" {{action "triggerSearch"}} role="button">
                    <img src="/assets/ic_search_trigger@2x.png" class="icon" alt="icon">
                  </div>
                {{/search-holder}}
              </div>
              {{#if isLoadingMusic}}
                <div class="loading-holder h-100">
                  {{loading-view}}
                </div>
              {{/if}}
              {{#each youtubeMusicItems as |video|}}
                {{#youtube-music model=video classNames="youtube-item-music"
                                 clickAction=(action "musicPick")}}

                {{/youtube-music}}

              {{/each}}
            {{/scroll-with-listener}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if isGroup}}
  {{#unless isCompose}}
    {{group-shared-popup model=model dataSource=dataSource actionSelector=".titleHolder > .title"}}
  {{/unless}}
{{/if}}
<div class="modal fade" id="videoPreviewModal" tabindex="-1" role="dialog" aria-labelledby="photoPreviewModal"
     aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <video controls width="250">

      <source src={{videoPlayerUrl}}
              type="video/mp4">

      Sorry, your browser doesn"t support embedded videos.
    </video>
  </div>
</div>
