<div class="row chatRoot {{modeClass}} h-100">
  <div class="col-8 content h-100">
    {{#file-dropzone classNames='row holder h-100' name="chatPhotos" as |dropzone queue|}}
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          <div class="dropzone">
            <div class="content">
              <div>Drop to upload</div>
            </div>
          </div>
        {{else}}

        {{/if}}
      {{/if}}

      <div class="titleHolder">
        <div class="title">
          {{#if chatModel.hasProfilePic}}
            <div class="profilePicWrapper">
              <img src="{{chatModel.user.safeProfilePic}}" class="profilePic" alt="ProfilePic">
            </div>
          {{else}}
            <div class="profilePicWrapper"></div>
          {{/if}}

          <span class="name">{{chatModel.title}}</span>
        </div>
        <div class="back">
          {{#link-to 'home'}}
            <img src="/assets/ic_arrow_back.png">
          {{/link-to}}
        </div>
      </div>
      <div class="searchHolder">
        <div class="row">
          <div class="col">
            <span class="who">Who:</span>
          </div>
        </div>
      </div>
      <div id="youtubeHolder">

        {{#youtube-video-player id="ytplayer" model=playerModel video=playerVideo playerAction=playerAction
                                videoLoadedAction=(action 'videoLoaded')}}{{/youtube-video-player}}
        <div class="overlay"></div>
        <div class="controlsOverlay">
          <div class="controlsHolder">
            <img src="/assets/ic_icon_play_video.png" class="play">
            <img src="/assets/ic_icon_pause_video.png" class="pause">
            <img src="/assets/ic_video_close.png" class="close">
            <span class="video-title"></span>
            <input type="range" min="1" max="100" value="50" class="slider">
          </div>
        </div>
      </div>
      <div id="youtubePlaceHolder"></div>

      <div class="messagesHolder">
        <div class="messagesWrappper">
          {{#each messages as |message|}}
            {{#if message.isMessage}}
              {{#chat-message-item model=message.message classNames='messageHolder'
                                   displaySender=message.displaySender}}{{/chat-message-item}}
            {{/if}}
            {{#if message.isDate}}
              {{#chat-message-time model=message.date}}{{/chat-message-time}}

            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="newMessageHolder">
        {{content-editable value=messageText placeholder="Search content" classNames="messageContent"}}
        <div class="imgHolder">
          <img src="/assets/ic_chat_send.png" {{action 'sendMessage'}}/>
        </div>
        {{#file-upload name="chatPhotos"
                       accept="image/*"
                       onfileadd=(action "uploadImageToChat") as |queue|}}
          <img src="/assets/ic_chat_msg_image.png"/>
        {{/file-upload}}

      </div>
    {{/file-dropzone}}
  </div>
  <div class="col-4 media">
    <div class="row holder h-100">
      <div class="title">
        <div>
          <span>Trending</span>
        </div>
      </div>
      <div class="searchHolder">
        <div class="search">
          <img src="/assets/search_icon.png" class="icon">
          {{input value=searchQuery classNames="searchInput" placeholder="Search content"
                  insert-newline=(action 'triggerSearch')}}
          <div class="trigger-search" {{action 'triggerSearch'}}>
            <img src="/assets/ic_search_trigger.png" class="icon">
          </div>
        </div>
      </div>
      <div class="tabs">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#videos" role="tab" aria-controls="videos"
               aria-selected="true" {{action 'pickVideosSearch'}}>Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#music" role="tab" aria-controls="music"
               aria-selected="true" {{action 'pickSongsSearch'}}>Songs</a>
          </li>
        </ul>
      </div>
      <div class="tab-content col-12">
        <div class="tab-pane row fade show active" id="videos">
          <div class="col-12">
            {{#scroll-with-listener classNames='youtube-items' music=false
                                    onScrolledHalf=(action 'scrolledHalfYoutubeVideo') scrollParent='.tab-content'
                                    loading=loadingVideo}}

              {{#each youtubeVideoItems as |video|}}
                {{#youtube-video model=video classNames='youtube-item'
                                 clickAction=(action 'videoPick')}}{{/youtube-video}}

              {{/each}}

            {{/scroll-with-listener}}
          </div>
        </div>
        <div class="tab-pane fade" id="music">
          {{#scroll-with-listener classNames='youtube-items row music' music=false
                                  onScrolledHalf=(action 'scrolledHalfYoutubeMusic') scrollParent='.tab-content'
                                  loading=loadingMusic}}
            {{#each youtubeMusicItems as |video|}}
              {{#youtube-music model=video classNames='youtube-item-music col-12'
                               clickAction=(action 'musicPick')}}{{/youtube-music}}

            {{/each}}
          {{/scroll-with-listener}}
        </div>
      </div>


    </div>
  </div>
</div>
