<div class="row friendsHeader">
  <div class="friendsCompose col">
    <img src="/assets/friends_compose.png" class="composeIcon"/>
  </div>
  <div class="friendsTitle">
    <span class="friends">Friends</span>
  </div>
  <div class="divider"></div>
</div>

<div class="friendsSearchHolder">
  <img src="/assets/search_icon.png" class="searchIcon">
  {{input value=query classNames="friendsSearch" placeholder="Search in messaging"}}
</div>
<div class="friendsList">

  {{#if loading}}
    <div class="lds-ripple">
      <div></div>
      <div></div>
    </div>
  {{/if}}
  {{#each model as |friend|}}
    <div class="friend row" {{action 'chatFriend'}}>
      <div class="profileName col">
        <span class="firstName">{{friend.firstName}}</span>
        <span class="lastName">{{friend.lastName}}</span>
      </div>

      <div class="profilePicHolder">
        <img class="profilePic" src="{{friend.safeProfilePic}}"/>
        {{#if friend.isOnline}}
          <div class="online"></div>
        {{/if}}
        {{#if friend.hasNewMessages}}
          <img class="unread" src="/assets/friend_unread.png"/>
        {{/if}}

      </div>
    </div>

  {{/each}}

</div>
{{outlet}}