<div class="publicRooms">
  <div class="content h-100">
    <div class="room-title-holder">
      <div class="title">
        <span class="noselect">Groups</span>
      </div>
      {{#link-to "home.group" classNames="create noselect" tagName="div"}}
        <div class="create-group-button">
          <img src="/assets/ic_add_24px.svg" alt="icon">
          <div class="label">Create Group</div>
        </div>
      {{/link-to}}
    </div>
    {{#fit-parent-height parentSelector=".publicRooms" classNames="feed-list-root" minusSelector=".room-title-holder"}}
      <div class="feed-content h-100">
        <div class="tabs h-100">
          <ul class="nav nav-pills" id="content-tabs">
            <li class="nav-item tab-following">
              <a class="nav-link active" data-toggle="tab" href="#following" role="tab" aria-controls="following"
                 aria-selected="true">
                Following
              </a>
            </li>
            <li class="nav-item tab-discover">
              <a class="nav-link" data-toggle="tab" href="#discover" role="tab" aria-controls="discover"
                 aria-selected="true" {{action "discoverFeedClicked"}}>
                Discover
              </a>
            </li>
          </ul>
          <div class="tab-content">
            {{#end-scrollable classNames="main-content-scroll tab-pane fade show active"
                              blockScroll=true
                              handleEnd=true
                              id='following'
                              onScrolledHalf=(action "loadMoreUserFeed")
                              scrollChild=".home-user-feed"}}
              {{#fit-parent-height parentSelector=".tabs" minusSelector="#content-tabs"}}
                    {{home/user-feed-list model=userFeed.items
                      lastUpdate=lastUpdate
                      isLoading=userFeed.isLoading
                      openDetails=(action "openDetails")
                      onFollowGroup=(action "followGroup")
                      onUnFollowGroup=(action "unFollowGroup")
                      onJoinEvent=(action "onJoinEvent") onLeaveEvent=(action "onLeaveEvent" bubbles=false)}}

              {{/fit-parent-height}}
            {{/end-scrollable}}
            {{#end-scrollable classNames="tab-pane fade show active"
                              blockScroll=true
                              handleEnd=true
                              id='discover'
                              onScrolledHalf=(action "loadMoreDiscover")
                              scrollChild=".feed-list"}}
              {{#fit-parent-height parentSelector=".tab-content" classNames="feed-discover-list-root"}}
                {{home-feed-list
                  model=groupDiscover.items
                  isLoading=groupDiscover.isLoading
                  isPublic=true
                  classNames="feed-list"
                  onFollowGroup=(action "followGroup" bubbles=false)
                  onUnFollowGroup=(action "unFollowGroup" bubbles=false)
                  onJoinEvent=(action "onJoinEvent" bubbles=false) onLeaveEvent=(action "onLeaveEvent" bubbles=false)}}

              {{/fit-parent-height}}
            {{/end-scrollable}}
          </div>
        </div>
      </div>
      <div class="feed-sidebar">
        {{#end-scrollable classNames="side-content"
                          blockScroll=true
                          handleEnd=true
                          onScrolledHalf=(action "loadMoreSide")
                          scrollChild=".side-wrapper"}}
          <div class="side-wrapper">
            <div class="feeds-own feeds-item">
              <div class="title noselect">
                Your groups
              </div>
              <div class="list">
                {{home-feed-list model=groupOwner.items isLoading=groupOwner.isLoading classNames="groups-owner items-holder"}}
              </div>
            </div>
            <div class="feeds-follows feeds-item">
              <div class="title noselect">
                Following groups
              </div>
              <div class="list">
                {{home-feed-list model=groupFollowing.items isLoading=groupFollowing.isLoading classNames="groups-following items-holder"}}
              </div>
            </div>
            <div class="feed-public feeds-item">
              <div class="title noselect">
                Discover
              </div>
              <div class="list">
                {{home-feed-list
                  model=groupPublicSide.items
                  isLoading=groupPublicSide.isLoading
                  isPublic=true
                  classNames="feed-list items-holder"
                  onFollowGroup=(action "followGroup" bubbles=false)
                  onUnFollowGroup=(action "unFollowGroup" bubbles=false)
                  onJoinEvent=(action "onJoinEvent" bubbles=false) onLeaveEvent=(action "onLeaveEvent" bubbles=false)}}
              </div>
            </div>
          </div>
        {{/end-scrollable}}

      </div>
    {{/fit-parent-height}}
  </div>
</div>
