{{#if isLive}}
  <div class="user-feed-item-live-wrapper {{if liveActive "active"}}">
    <div class="user-feed-item-live user-feed-item">
      {{home/user-feed-title model=localFeed classNames="feed-title-holder" clickAction=(action "openDetails")}}
      {{home/user-feed-live model=localFeed videoState=model.content liveActive=liveActive}}
    </div>
  </div>
{{else if isEvent}}
  <div class="user-feed-item-event user-feed-item">
    {{home/user-feed-title model=localFeed classNames="feed-title-holder" clickAction=(action "openDetails")}}
    {{feed-event-list-item
      model=localEvent
      classNames="event-content"
      onLikePost=(action "onLikeEventPost" localFeed)
      onLikeEventComment=(action "onLikeEventComment" localFeed)
      postCommentForMessage=(action "onPostEventComment" localFeed)
      joinEvent=(action "onJoinEvent" localFeed)
      leaveEvent=(action "onLeaveEvent" localFeed)}}
  </div>
{{else if isMessage}}
  <div class="user-feed-item-post user-feed-item">
    {{home/user-feed-title model=localFeed classNames="feed-title-holder" clickAction=(action "openDetails")}}
    {{chat-message-post
      model=localFeedMessage
      hasFooter=true
      classNames="feed-post-content"
      onLikePost=(action "onLikePost" localFeed)
      onLikeComment=(action "onLikeComment" localFeed)
      postCommentForMessage=(action "postCommentForMessage" localFeed)
    }}
  </div>
{{/if}}
