<div class="create-feed-group  h-100">
  <div class="content h-100">
    <div class="feed-group-title-holder">
      <div class="back">
        {{#link-to "home"}}
          <img class="back-icon" src="/assets/ic_arrow_back_flipped@2x.png" alt="icon">
        {{/link-to}}
      </div>
      <div class="title">
        <span class="noselect">Create Group</span>
      </div>
    </div>
    <div class="feed-group-create-content">
    	<div class="details">

	    	<div class="feed-group-profile-pic">
	    		<div class="pic-border">

	    		</div>


	    		{{#file-upload name="group-profile"
			                           accept="image/*"
			                           onfileadd=(action "uploadGroupImage")
			                           classNames="pic-content"}}
	    			{{#if profilePic}}
	    			  <div class="profilePicWrapper">
			          	<img src={{profilePic}} class="profilePic" alt="profilePic">
			          </div>
	    			{{else}}
		    			<span class="placeholder-title">
		    				Select group picture
		    			</span>
	    			{{/if}}
	    		{{/file-upload}}
	    	</div>
	    	<div class="info">
		    	<div class="feed-group-channel-name">
		    		{{input value=channelName placeholder="Group name" classNames="edit" maxlength=50}}
            {{#if errors.name}}
              <div class="error">{{errors.name}}</div>
            {{/if}}
            <div class="limit">
              {{channelName.length}}/50
            </div>
		    	</div>
		    	<div class="feed-group-channel-description">
		    		{{textarea value=channelDescription placeholder="Group description" classNames="edit" maxlength=150}}
            {{#if errors.description}}
              <div class="error">{{errors.description}}</div>
            {{/if}}
            <div class="limit">
              {{channelDescription.length}}/150
            </div>
		    	</div>
		    	<div class="feed-group-location-label">
		    		Location
		    	</div>
		    	<div class="feed-group-location">
            {{place-autocomplete-field
               value=userLocationReverse
               inputClass="place-autocomplete--input edit"
               placeChangedCallback=(action "channelLocationChanged")
               placeholder="Location"
               preventSubmit=true
            }}
            {{#if errors.location}}
              <div class="error">{{errors.location}}</div>
            {{/if}}
		    	</div>
		    	<div class="feed-group-access">
			    	<div class="feed-group-access-label">
  						<div class="title">
                  Private group
  						</div>
              <div class="subtitle">
                Users will have to request to follow
                your group in order to see your content
              </div>
			    	</div>
			    	<div class="feed-group-access-value">
				    	<div class="switch-holder">
		                  <label class="switch">
		                  	{{input type="checkbox" checked=isPrivate}}
		                    <span class="switcher round"></span>
		                  </label>
		                </div>
			    	</div>
			    </div>          
		    </div>
	    </div>
    	<div class="feed-group-create-holder" {{action "createFeed"}} role="button">
    		<div class="fee-group-create">
    			Create
    		</div>
    	</div>
    </div>
  </div>
</div>
