<div class="mainPage background_gradient h-100">
  {{#if model}}
    <header class="home navbar navbar-default navbar-fixed-top">
      <div class="content">
        {{#link-to 'home' classNames='play-icon'}}
          <img src="/assets/welcome_icon.png" class="play-icon">
        {{/link-to}}
        <div class="search">
          <img src="/assets/search_icon.png" class="icon">
          {{input value=searchQuery classNames="searchInput" placeholder="Search"
                  insert-newline=(action 'triggerSearch')}}
          <div class="trigger-search" {{action 'triggerSearch'}}>
            <img src="/assets/ic_search_trigger.png" class="icon">
          </div>
        </div>
        <div class="profile">
          <span class="name">{{model.FirstName}}</span>
          <img class="profilePic" src="{{model.safeProfilePic}}"/>
        </div>
        <div class="controls">
          <div class="dropdown followers">
            <div class="dropdown-toggle" id="dropdownFollowers" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false" data-display="static">
              <img class="friend-requests" src="/assets/ic_friends_add.png"/>
              <img src="/assets/ic_chevron_settings.png"/>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownFollowers">
              <div class="followers-content">
                <div class="title">
                  <div>
                    Friend request
                  </div>
                </div>

                <div class="follower-items">
                  {{#each followers as |follower|}}
                    {{#follower-menu-item model=follower classNames='follower'
                                          actionHandler=(action 'followerAction')}}{{/follower-menu-item}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          {{#bs-dropdown classNames="gear dropdown"}}

            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
              <img src="/assets/ic_gear.png"/>
              <img src="/assets/ic_chevron_settings.png"/>
            </div>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h6 class="dropdown-header">More:</h6>
              {{#link-to 'settings' classNames='dropdown-item'}}Settings{{/link-to}}
              <a class="dropdown-item" href="#">Information</a>
              <a class="dropdown-item" href="#">Support</a>
              <h6 class="dropdown-header">Action:</h6>
              <a class="dropdown-item" href="#">Blocked</a>
              <a class="dropdown-item" {{action 'logout'}}>Log Out</a>
            </div>
          {{/bs-dropdown}}

        </div>
      </div>
    </header>
  {{/if}}
  {{outlet}}
</div>
<div class="dropdown-backdrop"></div>