<div class="mainPage container-fluid background_gradient h-100">
  {{#if model}}
    <header class="home navbar navbar-default navbar-fixed-top row justify-content-md-center">
      <div class="content col-10">
        {{#link-to 'home' classNames='play-icon'}}
          <img src="/assets/welcome_icon.png" class="play-icon">
        {{/link-to}}
        <div class="search">
          <img src="/assets/search_icon@2x.png" class="icon">
          {{input value=searchQuery classNames="searchInput" placeholder="Search"
                  insert-newline=(action 'triggerSearch')}}
          <div class="trigger-search" {{action 'triggerSearch'}}>
            <img src="/assets/ic_search_trigger@2x.png" class="icon">
          </div>
        </div>
        <div class="profile">
          <span class="name">{{model.FirstName}}</span>
          <div class="profilePicWrapper">
            <img class="profilePic" src="{{profilePic}}"/>
          </div>
        </div>
        <div class="controls">
          {{#bs-dropdown classNames='dropdown followers'}}
            <div class="dropdown-toggle" id="dropdownFollowers" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false" data-display="static">
              <img class="friend-requests" src="/assets/ic_friends_add@2x.png"/>
              <img class="chevron" src="/assets/ic_chevron_settings@2x.png"/>
              {{#if hasNewRequests}}
                <div class="new-requests"></div>
              {{/if}}
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownFollowers">
              <div class="followers-content">
                <div class="title">
                  <div>
                    Friend request
                  </div>
                </div>

                <div class="follower-items">
                  {{#each followers as |follower|}}
                    {{#follower-menu-item model=follower classNames='follower'
                                          actionHandler=(action 'followerAction')}}{{/follower-menu-item}}
                  {{/each}}
                </div>
              </div>
            </div>
          {{/bs-dropdown}}
          {{#bs-dropdown classNames="gear dropdown"}}

            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
              <img src="/assets/ic_gear@2x.png" class="gear-icon"/>
              <img class='chevron' src="/assets/ic_chevron_settings@2x.png"/>
            </div>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h6 class="dropdown-header">More:</h6>
              <a class="dropdown-item" data-toggle="modal" data-target="#settingsModal">Settings</a>
              <a class="dropdown-item" href="#">Information</a>
              <a class="dropdown-item" href="#">Support</a>
              <h6 class="dropdown-header">Action:</h6>
              <a class="dropdown-item" href="#">Blocked</a>
              <a class="dropdown-item" {{action 'logout'}}>Log Out</a>
            </div>
          {{/bs-dropdown}}

        </div>
      </div>
    </header>
  {{/if}}
  {{outlet}}
</div>
<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="settings-root modal-content">
      <div class="account-root">
        <div class="title">
          <div>Settings</div>
        </div>
        <div class="profile-content">
          <div class="profilePicWrapper">
            <img src="{{profilePic}}" class="profilePic"/>
          </div>
          <div class="username-holder">
            <div class="username">{{form.username}}</div>
            {{#file-upload name="photos"
                           accept="image/*"
                           onfileadd=(action "uploadImage") as |queue|}}
              <a class="change-pic">Change Profile Pic</a>
            {{/file-upload}}

          </div>
          <div class="first-name-label label">First Name</div>
          <div class="input">
            {{input value=form.firstName classNames='first-name-input' disabled=isDisabled}}
          </div>
          <div class="last-name-label label">Last Name</div>
          <div class="input">
            {{input value=form.lastName classNames='first-name-input' disabled=isDisabled}}
          </div>
          <div class="birthdate-label label">Birthday</div>
          <div class="input">
            {{birthday-picker value=date classNames="birthday-input-holder" disabled=isDisabled
                              onDateSet=(action 'onBirthdayDateSet')}}
          </div>
          <div class="email-label label">Email</div>
          <div class="input">
            {{input value=form.email classNames='email-input' disabled=isDisabled}}
          </div>
          {{#if isDisabled}}
            <button class="btn-edit" {{action 'edit'}}>Edit</button>
          {{else}}
            <button class="btn-submit" {{action 'updateProfile'}}>Submit</button>
            <button class="btn-cancel" {{action 'cancelUpdate'}}>Cancel</button>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>
