<div class="mainPage container-fluid background_gradient h-100" data-user-id={{userId}}>
  {{#if model}}
    <header class="home navbar navbar-default navbar-fixed-top row justify-content-md-center">
      <div class="content col-10">
        <a class="play-icon" href="/home">
          <img src="/assets/main.png" class="play-icon" alt="icon">
        </a>
        {{#search-holder classNames="search" }}
          <img src="/assets/search_icon@2x.png" class="icon" alt="icon">
          {{input value=searchQuery classNames="searchInput" placeholder="Search"
                  insert-newline=(action "triggerSearch") autocomplete='off'}}
          <img src="/assets/ic_music_close.png" class="close-search" alt="close">
          <div class="trigger-search" {{action "triggerSearch"}} role="button">
            <img src="/assets/ic_search_trigger@2x.png" class="icon" alt="icon">
          </div>
        {{/search-holder}}
        {{#user-profile-view model=model classNames="profile"}}
          <span class="name noselect">{{model.FirstName}}</span>
          <div class="profilePicWrapper">
            <img class="profilePic" src={{profilePic}} alt="icon">
          </div>
        {{/user-profile-view}}
        <div class="controls">
          {{#bs-dropdown classNames="dropdown followers"}}
            <div class="dropdown-toggle" id="dropdownFollowers" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false" data-display="static">
              <img class="friend-requests" src="/assets/ic_friends_add@2x.png" alt="icon">
              <img class="chevron" src="/assets/ic_chevron_settings@2x.png" alt="icon">
              {{#if hasNewRequests}}
                <div class="new-requests"></div>
              {{/if}}
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownFollowers">
              <div class="followers-content">
                <div class="title">
                  <div>
                    Friend request
                  </div>
                </div>

                <div class="follower-items">
                  {{#each followers as |follower|}}
                    {{#follower-menu-item model=follower classNames="follower"
                                          actionHandler=(action "followerAction")}}

                    {{/follower-menu-item}}
                  {{/each}}
                </div>
              </div>
            </div>
          {{/bs-dropdown}}
          {{#bs-dropdown classNames="gear dropdown"}}

            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
              <img src="/assets/ic_gear@2x.png" class="gear-icon" alt="gear">
              <img class="chevron" src="/assets/ic_chevron_settings@2x.png" alt="chevron">
            </div>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h6 class="dropdown-header">More:</h6>
              <a class="dropdown-item" data-toggle="modal" data-target="#settingsModal">Settings</a>
              <a class="dropdown-item" href="#">Information</a>
              <a class="dropdown-item" href="#">Support</a>
              <h6 class="dropdown-header">Action:</h6>
              <a class="dropdown-item" href="#">Blocked</a>
              <a class="dropdown-item" {{action "logout"}} role="button">Log Out</a>
            </div>
          {{/bs-dropdown}}

        </div>
      </div>
    </header>
  {{/if}}
  {{outlet}}
</div>
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="settings-root modal-content">
      <div class="account-root">
        <div class="title">
          <div>Profile</div>
        </div>
        <div class="user-profile-content user">
          <div class="profilePicWrapper">
            {{#file-upload name="profile"
                           accept="image/*"
                           onfileadd=(action "uploadProfileImage")
                           classNames="profilePicChange"}}
              <img class="profilePic" alt="profilePic">
            {{/file-upload}}
          </div>
          <div class="username-holder">
            <div class="username">{{selectedProfile.username}}</div>
            <div class="friends"><span class="number"></span><span class="text"> friends</span></div>
            <div class="name">{{selectedProfile.name}}</div>
          </div>
          <div class="controls-holder">
            <div class="add-holder">
              <div class="add noselect">
                <img src="/assets/ic_add_friend@2x.png" alt="icon">
                <div class="label">
                  Add Friend
                </div>
              </div>
            </div>
            <div class="added-holder">
              <div class="added noselect">
                <img src="/assets/ic_friend_added.png" alt="icon">
                <div class="label">
                  Added
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="settings-root modal-content">
      <div class="account-root modal-body noselect">
        <div class="title">
          <div>Settings</div>
        </div>
        <div class="profile-wrapper">
          <div class="profile-content">
            <div class="profile-value-content">
              <div class="profilePicWrapper">
                <img src={{profilePic}} class="profilePic" alt="profilePic">
              </div>
              <div class="username-holder">
                <div class="username">{{form.username}}</div>
                {{#file-upload name="photos"
                               accept="image/*"
                               onfileadd=(action "uploadImage")}}
                  <a class="change-pic">Change Profile Pic</a>
                {{/file-upload}}

              </div>
            </div>
            <div class="profile-value-content">

              <div class="first-name-label label">First Name</div>
              <div class="input">
                {{input value=form.firstName classNames="first-name-input" disabled=isDisabled}}
              </div>
            </div>
            <div class="profile-value-content">
              <div class="last-name-label label">Last Name</div>
              <div class="input">
                {{input value=form.lastName classNames="first-name-input" disabled=isDisabled}}
              </div>
            </div>
            <div class="profile-value-content">
              <div class="birthdate-label label">Birthday</div>
              <div class="input">
                {{birthday-picker value=form.birthDay classNames="birthday-input-holder" isDisabled=isDisabled
                                  onDateSet=(action "onBirthdayDateSet")}}
              </div>
            </div>
            <div class="profile-value-content">
              <div class="email-label label">Email</div>
              <div class="input">
                {{input value=form.email classNames="email-input" disabled=isDisabled}}
              </div>
            </div>
            <div class="controls">
              {{#if isDisabled}}
                <button class="btn-edit" {{action "edit"}}>Edit</button>
              {{else}}
                <button class="btn-submit" {{action "updateProfile"}}>Submit</button>
                <button class="btn-cancel" {{action "cancelUpdate"}}>Cancel</button>
              {{/if}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
