<div class="background_gradient welcomePage">

  {{#welcome-header classNames="container-fluid" tagName="header"}}
    <div class="row welcomeHeader">
      <div class="col-7 welcomeIconHolder">
        <span class="header_title">Playnow</span>
        <img src="/assets/welcome_icon.png" class="welcome_icon" alt="Icon">
      </div>
      <div class="col-5">
        <div class="row headerLoginControls">
          <div>
            <div class="welcomeHeaderUsername">
              <span class="usernameLabel">Username or email</span>
              {{input value=form.username classNames="username"}}
              <span class="error-tip">{{error}}</span>
            </div>

          </div>
          <div>
            <div class="welcomeHeaderPassword">
              <span class="passwordLabel">Password</span>
              {{input value=form.password classNames="password" type="password" insert-newline=(action 'loginAction')}}
              <span class="forgotPassword">Forgot Password?</span>
            </div>
          </div>
          <div class="loginHolder">
            <button {{action "loginAction"}} class="loginBtn hoveredBtn">Log In</button>
          </div>
        </div>
      </div>
    </div>
  {{/welcome-header}}

  {{#welcome-body classNames="container-fluid welcomeBody" tagName='section' minHeight=0 useFooter=0.4}}
    <div class="row welcomeContent h-100">
      <div class="col-6 welcomeLeft">
        <div class="content">

          asdf
        </div>
      </div>
      <div class="col-6 welcomeRight">
        <div class="content">
          <p class="title">Create a New Account</p>
          <p class="subTitle">Text and watch together</p>
          <div class="firstLastName">

            <div class="registerFirstName">
              {{input value=form.register.firstName classNames="registerEdit" placeholder="First name"}}
              <span class="error-tip">{{form.register.error.firstName}}</span>
            </div>
            <div class="registerLastName">
              {{input value=form.register.lastName classNames="registerEdit" placeholder="Last name"}}
              <span class="error-tip">{{form.register.error.lastName}}</span>
            </div>
          </div>
          <p class="addFriend">Add friends with your username!</p>
          <div class="registerUsername">

            {{input value=form.register.username classNames="registerEdit" placeholder="Pick a Username (e.g user123)"}}
            <span class="error-tip">{{form.register.error.username}}</span>
          </div>
          <div class="registerPassword">
            {{input value=form.register.password classNames="registerEdit" placeholder="Password" type="password"}}
            <span class="error-tip">{{form.register.error.password}}</span>
          </div>
          <p class="birthdayLabel">Birthday</p>
          <div class="registerBirthday">
            {{bootstrap-datepicker value=form.register.birthDate calendarWeeks=true autoclose=true
                                   classNames="registerEdit"}}
            <span class="error-tip">{{form.register.error.birthDate}}</span>
            <p class="bdHint">You can’t use Playnow if you
              are younger than 13.</p>
          </div>
          <p class="termsText">By clicking Sign Up, you agree to the Terms and Policy.</p>
          <div class="signUpHolder">
            <button {{action "signUpAction"}} class="signUpBtn hoveredBtn">Sign Up</button>
            <span class="error-tip">{{form.register.error.global}}</span>
          </div>
        </div>
      </div>
    </div>
  {{/welcome-body}}
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col">
          <p class="footerColumnHeader">Company</p>
          <a class="footerColumnItem" href="https://www.playnows.com/about">About playnow</a>
          <a class="footerColumnItem" href="https://www.playnows.com/jobs">Jobs</a>
        </div>
        <div class="col">
          <p class="footerColumnHeader">Legal</p>
          <a class="footerColumnItem" href="https://www.playnows.com/terms">Terms of Use</a>
          <a class="footerColumnItem" href="https://www.playnows.com/policy">Privacy Policy</a>
          <a class="footerColumnItem" href="https://www.playnows.com/copyright">Copyright</a>
        </div>
        <div class="col">
          <p class="footerColumnHeader">Community</p>
          <a class="footerColumnItem" href="https://www.playnows.com/community">Guidelines</a>
          <a class="footerColumnItem" href="https://www.playnows.com/support">Support</a>
        </div>
        <div class="col">
          <p class="footerColumnHeader">Business</p>
          <a class="footerColumnItem" href="https://www.playnows.com/branding">Branding</a>
          <a class="footerColumnItem" href="https://www.playnows.com/contact">Contact</a>
        </div>
        <div class="col-5 crHolder">
          <p class="copyRight">©2019 Playnow, Inc. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>